<script>
  import { base } from "$app/paths";
  import "../app.css";
</script>

<hgroup class="text-center space-y-1 text-black dark:text-white">
  <h2 class="text-2xl">404</h2>
  <h3 class="text-xl">Not found</h3>
</hgroup>

<p class="text-slate-800 dark:text-slate-200">
  Oops, we got lost; but don't worry, everything's back
  <a href="{base}/" class="text-sky-500 dark:text-sky-400">here</a>.
</p>
