<script>
  import "../app.css";
  import { version, dev } from "$app/environment";

  let { children } = $props();

  const src = "https://gitlab.com/eidoom/projects";
</script>

<svelte:head>
  <title>Ryan's weekend coding projects</title>
</svelte:head>

<div
  class="bg-slate-50 dark:bg-slate-950 p-6 pt-8 gap-y-12 flex flex-col min-h-screen"
>
  <header>
    <h1 class="text-3xl text-center font-semibold text-black dark:text-white">
      Ryan's weekend coding projects
    </h1>
  </header>

  <main class="grow flex flex-col items-center gap-y-12">
    <p class="text-slate-900 dark:text-slate-100 max-w-xl">
      This is a wee page to keep track of my curiosity/recreational software
      projects.
    </p>

    {@render children?.()}
  </main>

  <footer
    class="text-slate-500 dark:text-slate-400 flex gap-x-2 divide-x justify-center"
  >
    <span>
      Version
      <a
        rel="external"
        href="{src}/-/commit/{version}"
        class="text-sky-500 dark:text-sky-400">{version}</a
      >
      {#if dev}
        (dev)
      {/if}
    </span>
    <a rel="external" href={src} class="text-sky-500 dark:text-sky-400 pl-2"
      >Source</a
    >
  </footer>
</div>

<style>
</style>
