<script>
  import { base } from "$app/paths";

  let { data } = $props();

  let filter_tags = $state([]),
    sort = $state("date"),
    sgn = $state(-1);

  // Set() functions have limited availability :( so implement on Array myself
  const intersection = (a, b) => a.filter((c) => b.includes(c));
  const isSubsetOf = (a, b) => intersection(a, b).length === a.length;

  const add_filter_tag = (tag) => {
    if (!filter_tags.includes(tag)) filter_tags = [...filter_tags, tag];
  };

  let items = $derived(
    (filter_tags.length
      ? data.items.filter((item) => isSubsetOf(filter_tags, item.tags))
      : data.items
    ).sort((a, b) => {
      if (a[sort] > b[sort]) return sgn;
      if (a[sort] < b[sort]) return -sgn;
      return 0;
    }),
  );
  let minis = $derived(items.filter((i) => i.type == "mini"));
  let projects = $derived(items.filter((i) => i.type == "project"));
</script>

<div
  class="flex flex-row flex-wrap items-center justify-center gap-8 text-slate-900 dark:text-slate-100"
>
  <fieldset>
    <legend class="mx-auto"> Filters </legend>
    <div class="flex flex-col items-center gap-y-2 mt-2">
      {#if filter_tags.length}
        <ul class="flex flex-wrap gap-x-2 text-slate-500 dark:text-slate-400">
          {#each filter_tags as filter_tag, i}
            <li>
              <button
                onclick={() =>
                  (filter_tags = filter_tags.filter((t, j) => j !== i))}
              >
                {filter_tag}
              </button>
            </li>
          {/each}
        </ul>
      {:else}
        <div class="text-slate-500 dark:text-slate-400">
          Select tags on projects to filter
        </div>
      {/if}
      <button
        class="border-2 px-2 border-slate-200 dark:border-slate-700 rounded-full"
        onclick={() => (filter_tags = [])}
      >
        Reset
      </button>
    </div>
  </fieldset>

  <span class="flex flex-row flex-wrap items-center justify-center gap-8">
    <fieldset>
      <legend class="mx-auto"> Sort by </legend>
      <div class="grid grid-cols-2 gap-2 mt-2">
        <input
          type="radio"
          name="sort"
          bind:group={sort}
          id="date"
          value="date"
        />
        <label for="date">Date</label>
        <input
          type="radio"
          name="sort"
          bind:group={sort}
          id="name"
          value="name"
        />
        <label for="name">Name</label>
      </div>
    </fieldset>

    <fieldset>
      <legend class="mx-auto"> Sort dir. </legend>
      <div class="grid grid-cols-2 gap-2 mt-2">
        <input type="radio" name="dir" bind:group={sgn} id="asc" value={1} />
        <label for="asc">Asc.</label>
        <input type="radio" name="dir" bind:group={sgn} id="desc" value={-1} />
        <label for="desc">Desc.</label>
      </div>
    </fieldset>
  </span>
</div>

{#if projects.length}
  <h2
    id="projects"
    class="text-2xl text-center font-semibold text-black dark:text-white"
  >
    <a href="#projects">Projects</a>
  </h2>

  <ol class="flex flex-wrap gap-8 items-center justify-center">
    {#each projects as item}
      <li
        id={item.name}
        class="p-6 max-w-sm bg-slate-100 dark:bg-slate-800 rounded-xl space-y-4"
      >
        <div class="flex gap-x-4 items-center">
          {#if item.img}
            {#if item.img.slice(0, 4) === "http"}
              <img
                src={item.img}
                alt=""
                class="object-contain h-32 w-32 rounded-xl bg-slate-200 dark:bg-slate-900"
              />
            {:else}
              <img
                src="{base}/{item.img}"
                alt=""
                class="h-32 w-32 rounded-xl bg-slate-200 dark:bg-slate-900"
                width="256"
                height="256"
              />
            {/if}
          {/if}
          <span class="space-y-1">
            {#if item.name}
              <h3
                class="text-xl font-semibold text-slate-900 dark:text-slate-100 hyphens-auto sm:hyphens-none"
              >
                <a href="#{item.name}">{item.name}</a>
              </h3>
            {/if}
            {#if item.desc}
              <p
                class="text-slate-800 dark:text-slate-200 hyphens-auto sm:hyphens-none"
              >
                {@html item.desc}
              </p>
            {/if}
            {#if item.tags || item.date || item.loc}
              <ol class="flex flex-wrap gap-x-2">
                {#if item.date}
                  <li class="text-slate-700 dark:text-slate-300">
                    <time datetime={item.date.toISOString().slice(0, 10)}>
                      {item.date.getFullYear()}
                    </time>
                  </li>
                {/if}
                {#if item.loc}
                  <li class="text-slate-700 dark:text-slate-300">
                    loc:{item.loc}
                  </li>
                {/if}
                {#if item.tags}
                  {#each item.tags as tag}
                    <li class="text-slate-500 dark:text-slate-400">
                      <button onclick={() => add_filter_tag(tag)}>
                        {tag}
                      </button>
                    </li>
                  {/each}
                {/if}
              </ol>
            {/if}
          </span>
        </div>
        {#if item.links}
          <ol class="flex flex-wrap gap-x-3 text-sky-500 dark:text-sky-400">
            {#each item.links as link}
              <li>
                <a href={link.href} rel="external noopener noreferrer"
                  >{link.host}</a
                >
              </li>
            {/each}
          </ol>
        {/if}
      </li>
    {/each}
  </ol>
{/if}

{#if minis.length}
  <h2
    id="mini-projects"
    class="text-2xl text-center font-semibold text-black dark:text-white"
  >
    <a href="#mini-projects">Mini-projects</a>
  </h2>

  <ol class="flex flex-wrap gap-8 items-center justify-center">
    {#each minis as item}
      <li
        id={item.name}
        class="p-6 max-w-sm bg-slate-100 dark:bg-slate-800 rounded-xl space-y-4"
      >
        <ol class="flex flex-wrap gap-x-2">
          {#if item.name}
            <li
              class="font-semibold text-slate-900 dark:text-slate-100 hyphens-auto sm:hyphens-none"
            >
              <h3>
                <a href="#{item.name}">{item.name}</a>
              </h3>
            </li>
          {/if}
          {#if item.date}
            <li class="text-slate-700 dark:text-slate-300">
              <time datetime={item.date.toISOString().slice(0, 10)}>
                {item.date.getFullYear()}
              </time>
            </li>
          {/if}
          {#if item.tags}
            {#each item.tags as tag}
              <li class="text-slate-500 dark:text-slate-400">
                <button onclick={() => add_filter_tag(tag)}>
                  {tag}
                </button>
              </li>
            {/each}
          {/if}
          {#if item.links}
            {#each item.links as link}
              <li class="text-sky-500 dark:text-sky-400">
                <a href={link.href} rel="external noopener noreferrer"
                  >{link.host}</a
                >
              </li>
            {/each}
          {/if}
        </ol>
      </li>
    {/each}
  </ol>
{/if}

<style>
</style>
